<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
        />
        <title>Tools Website</title>
    </head>
    <body class="bg-gray-100">
        <div class="bg-blue-900 text-white py-4 text-center">
            <h1 class="text-3xl font-bold">tools.cyberkrypts.dev</h1>
        </div>

        <div class="flex items-center justify-center h-screen">
            <a
                href="/shortener"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-8 px-12 rounded shadow-lg"
            >
                <div class="text-2xl mb-2">Link Shortener</div>
                <p class="text-sm">Shorten your URLs with ease.</p>
            </a>

            <div class="mx-8"></div>

            <a
                href="/youtube"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-8 px-12 rounded shadow-lg"
            >
                <div class="text-2xl mb-2">YouTube Downloader</div>
                <p class="text-sm">Download YouTube videos effortlessly.</p>
            </a>
        </div>
    </body>
</html>
