<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Youtube downloader</title>
    </head>
    <body>
        <form action="/video" method="get">
            <input
                type="text"
                name="url"
                id="url"
                placeholder="Youtube video URL"
            />
            <input type="submit" value="Download" />
        </form>
    </body>
</html>
